.vscode
Test

Unidad3/Guia2U3/Ejer1/bin
Unidad3/Guia2U3/Ejer1/obj
Unidad3/Guia2U3/Ejer1/Ejer1.csproj

Unidad3/Guia2U3/Ejer2/bin
Unidad3/Guia2U3/Ejer2/obj
Unidad3/Guia2U3/Ejer2/Ejer2.csproj

Unidad3/Guia2U3/Ejer3/Inciso1/bin
Unidad3/Guia2U3/Ejer3/Inciso1/obj
Unidad3/Guia2U3/Ejer3/Inciso1/Inciso1.csproj

Unidad3/Guia2U3/Ejer3/Inciso2/bin
Unidad3/Guia2U3/Ejer3/Inciso2/obj
Unidad3/Guia2U3/Ejer3/Inciso2/Inciso2.csproj

Unidad3/Guia3U3/Ejer1/bin
Unidad3/Guia3U3/Ejer1/obj
Unidad3/Guia3U3/Ejer1/Ejer1.csproj

Unidad3/Guia3U3/Ejer2/bin
Unidad3/Guia3U3/Ejer2/obj
Unidad3/Guia3U3/Ejer2/Ejer2.csproj

Unidad3/Guia3U3/Ejer3/bin
Unidad3/Guia3U3/Ejer3/obj
Unidad3/Guia3U3/Ejer3/Ejer3.csproj

Unidad3/Guia4U3/Ejer1/bin
Unidad3/Guia4U3/Ejer1/obj
Unidad3/Guia4U3/Ejer1/Ejer1.csproj

Unidad3/Guia4U3/Ejer2/bin
Unidad3/Guia4U3/Ejer2/obj
Unidad3/Guia4U3/Ejer2/Ejer2.csproj

Unidad3/Guia4U3/Ejer3/bin
Unidad3/Guia4U3/Ejer3/obj
Unidad3/Guia4U3/Ejer3/Ejer3.csproj

Unidad3/Guia4U3/Ejer4/bin
Unidad3/Guia4U3/Ejer4/obj
Unidad3/Guia4U3/Ejer4/Ejer4.csproj

Examen3/Ejer1/bin
Examen3/Ejer1/obj
Examen3/Ejer1/Ejer1.csproj

Examen3/Ejer2/bin
Examen3/Ejer2/obj
Examen3/Ejer2/Ejer2.csproj

Examen3/Ejer3/bin
Examen3/Ejer3/obj
Examen3/Ejer3/Ejer3.csproj

Unidad4/Guia1/Ejer1/bin
Unidad4/Guia1/Ejer1/obj
Unidad4/Guia1/Ejer1/Ejer1.

Unidad4/Guia1/Ejer3/bin
Unidad4/Guia1/Ejer3/obj
Unidad4/Guia1/Ejer3/Ejer3.csproj

Unidad4/Guia1/Ejer5/bin
Unidad4/Guia1/Ejer5/obj
Unidad4/Guia1/Ejer5/Ejer5.csproj

Unidad4/Guia1/Ejer7/bin
Unidad4/Guia1/Ejer7/obj
Unidad4/Guia1/Ejer7/Ejer7.csproj

Unidad4/Guia1/Ejer9/bin
Unidad4/Guia1/Ejer9/obj
Unidad4/Guia1/Ejer9/Ejer9.csproj