.vscode

Guia2U3/Ejer1/bin
Guia2U3/Ejer1/obj
Guia2U3/Ejer1/Ejer1.csproj

Guia2U3/Ejer2/bin
Guia2U3/Ejer2/obj
Guia2U3/Ejer2/Ejer2.csproj

Guia2U3/Ejer3/Inciso1/bin
Guia2U3/Ejer3/Inciso1/obj
Guia2U3/Ejer3/Inciso1/Inciso1.csproj

Guia2U3/Ejer3/Inciso2/bin
Guia2U3/Ejer3/Inciso2/obj
Guia2U3/Ejer3/Inciso2/Inciso2.csproj